@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-Primary: #fcaf16;
  --color-Secondary: #232b38;
}

body {
  font-family: "Roboto", sans-serif;
}
